/* base.liquid Layout */
body {
  background-color: #F2F1E8;
  font-size: 16px;
}

nav {
  text-align: center;
}
nav > ul {
  padding-inline-start: 0;
}
nav > ul > li {
  display: inline-block;
  padding: 1em;
}
nav > ul > li > a {
  text-decoration: none;
  color: black;
}

footer {
  text-align: center;
  padding: 8px;
}

h1 {
  font-family: "Grandiflora One", cursive;
  font-style: normal;
  font-size: 2.75em;
  text-align: center;
  margin-bottom: 0;
}
h2, body {
  font-family: "Open Sans";
  text-decoration: none;
}
h2 { font-size: 2em; }

.slogan-text {
  text-align: center;
  font-style: italic;
  margin-top: 1em;
}

/* Individual Page <main> sections */
.text-only-page-main {
  padding: 2em;
  line-height: 2em;
}

.collection-page-main {
  background-color: white;
  padding: 8px;
}

.product-page-main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 20rem), 1fr));
    gap: 1rem;
    
    background-color: white;
    padding: 1em;
    --min: 30ch;
}

/* Home Page */
.product-collection-list {
  font-weight: bold;
  font-size: 1.23em;
  padding-inline-start: 1em;
}

/* Product Collection Page */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 20rem), 1fr));
  gap: 1rem;
}
.gallery a {
  display: flex;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  font-family: "Open Sans";
  font-weight: bold;
  color: black;
}
figure > img {
  width: 213px;
  height: 152px;
}

/* Product Page */
.product-page-main > div:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: start;
}

.price { font-size: 2em; }

.delivery-header:before {
  content: "🚚";
}